.grid-partners {
    display: flex;
    gap: 1rem
}

.card-partners {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    text-align: center;
    width: 12rem;
}

.card-partners img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 8px;
}

.card-partners h3 {
    margin: 8px 0 4px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.card-partners p {
    margin: 0 0 8px;
    color: #555;
}